body {
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
  max-width: 70%;
}
.title {
  padding: 2em;
}
hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%;
}
table {
  align-items: stretch;
  padding: 2em;
}
.project {
  position: relative, 0%;
}
.role {
  position: relative, 25%;
}
.location {
  position: relative, 50%;
}
.time {
  position: relative, 100%;
}
h1 {
  color: #ffcc00;
  text-align: center;
}
h2 {
  color: #ff6666;
}
h3 {
  color: #cc0066;
}

a {
  color: #66cccc;
}

.footer {
  background-color: #525252;
  color: white;
}
