body {
  background-color: #ffffff;
}

hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%;
}
h1 {
  color: #ffcc00;
}
h2 {
  color: #ff6666;
}
h3 {
  color: #cc0066;
}

a {
  color: #66cccc;
}
