body {
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto 100px auto;
  width: 70%;
  line-height: 2;
}
hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%;
}

h1 {
  color: #ffcc00;
  text-align: center;
}
h2 {
  color: #ff6666;
}
h3 {
  color: #cc0066;
}

a {
  color: #66cccc;
}
.myimg {
  background-color: aliceblue;
  padding: 5em 0 0 0;
}
.name {
  font-family: futura, sans-serif;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}
.des {
  text-align: left;
  color: #333333;
}

.footer {
  background-color: #525252;
  color: white;
}

}

a {
  color: #66cccc;
}
.myimg {
  background-color: aliceblue;
}
.name {
  font-family: futura, sans-serif;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}
.des {
  text-align: left;
  color: #333333;
}

.footer {
  background-color: #525252;
  color: white;
}
