body {
  background-color: #ffffff;
  text-align: center;
  margin: 100px auto 100px auto;
  width: 70%;
  line-height:2;
}
  #navbar {


    position: fixed;
    top:0;
    left: 0;
    width: 15%;
    background-color: #;
  }
  nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  }
  nav li {
    display: inline;
    margin-right: 20px;
  }
hr {
  border-color: gray;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%;
}

h1 {
  color: #ffcc00;
}
h2 {
  color: #ff6666;
}
h3 {
  color: #cc0066;
}

a {
  color: #66cccc;
}
.myimg {
  background-color: aliceblue;
}
.name {
  font-family: futura, sans-serif;
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}
.des {
  text-align: left;
  color: #333333;
}

.footer {
  background-color: #525252;
  color: white;
}
